body {
    background-color: #f5f5dc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main-title {
    color: #000000;
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;
}

.p-text {
    color: #000000;
    font-size: 1.5em;
    text-align: center;
}

.container {
    background-color: #ecf19e;
    width: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1em;
}

#add-book-button{
    font-size: 16px;
    font-weight: bolder;
    width: 3em;
    height: 3em;
    background-color: #f1db9e;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin:auto;
}

#add-book-button:hover {
    background-color: #65d6f8;
    transform: scale(1.1);
    transition: 0.3s;
}
